<template>
  <div class="container">
    <div class="main">
      <div class="row">
        <div class="six columns offset-by-three">
          <label for="movieLink">Link do filmu w serwisie CDA.pl</label>
          <input v-model="movieLink" @keyup.enter="getMovieInfo(movieLink)" class="u-full-width" name="movieLink" type="text" placeholder="Link do filmu" required>
          <p class="help-text">Przykładowy link: <i>https://www.cda.pl/video/1393311c2</i></p>
          <button @click="getMovieInfo(movieLink)"  id="get-info-btn">Pobierz</button>
        </div>
      </div>
      <div v-if="movieInfo" class="row">
        <div class="six columns offset-by-three">
          <h3 class="movie-title">{{ movieInfo.title }}</h3>
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Jakośc</th>
                <th>Pobierz</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="!movieInfo.quality_list">
                <td>Nieznana</td>
                <td><button @click='getDownloadLink(movieID, "nieznana")' class="quality-btn">Pobierz</button></td>
              </tr>
              <tr v-for="quality in movieInfo.quality_list">
                <td>{{ quality }}</td>
                <td><button @click="getDownloadLink(movieID, quality)" class="quality-btn">Pobierz</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CdaDownload',
  data () {
    return {
      movieLink: "",
      movieInfo: "",
      movieID: "",
      movieDownloadLink: ""
    }
  },
  methods: {
    getMovieID: function(movieLink) {
      if(movieLink.includes("http")) {
        movieLink = movieLink.replace("https://", "")
      }
      var id = movieLink.replace("cda.pl/video/", "")
      return id
    },
    getMovieInfo: function(movieLink) {
      // change button text
      var downloadBtn = document.getElementById("get-info-btn")
      downloadBtn.textContent = "Trwa pobieranie informacji o filmie..."
      if(!movieLink.includes("cda.pl/video")) {
        this.$swal({
          title: "Błąd",
          text: "Nieprawidłowy adres",
          type: "error"
        })
        downloadBtn.textContent = "Pobierz"
        return
      }
      if(movieLink.includes("http")) {
        movieLink = movieLink.replace("https://", "")
        if(movieLink.includes("www")) {
          movieLink = movieLink.replace("www.", "")
        }
      }
      var movieID = movieLink.replace("cda.pl/video/", "")
      this.movieID = movieID

      this.$http.get("http://192.168.1.148:8000/api/cda/movie/detail/" + movieID)
        .then((res) => {
          downloadBtn.textContent = "Pobierz"
          this.movieInfo = res.data
        })
        .catch((err) => {
          downloadBtn.textContent = "Pobierz"
          this.$swal({
            title: "Błąd",
            text: "Wystąpił błąd podczas łączenia się z naszym serwerem. Sprawdź czy podany link do filmu jest poprawny.",
            type: "error"
          })
        })
    },
    getDownloadLink: function(id, quality) {
      this.$http.get("http://192.168.1.148:8000/api/cda/movie/download/" + id + "/" + quality)
        .then((res) => {
          this.movieDownloadLink = res.body.download_link.replace(/\\/g, "")
          this.$swal({
            title: this.movieInfo.title,
            showCancelButton: true,
            cancelButtonText: "Anuluj",
            confirmButtonText: "Pobierz",
            html:
            `<video id="player" autoplay controls>
              <source src="${this.movieDownloadLink}" type="video/mp4"/>
            </video>`
          })
            .then((result) => {
              if(result.value) {
                window.open(this.movieDownloadLink, "_blank")
              }
            })
        })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

button {
  text-transform: capitalize;
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #fff;
  background-color: #CC2936;
  border-color: #CC2936;
}

button:hover {
  background-color: #B5232F;
  border-color: #B5232F;
}

#get-info-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 29px;
}

#get-info-btn:first-letter {
  text-transform: uppercase;
}

.movie-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.main {
  margin: 0 auto;
}

.quality-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 25px;
}

table {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 50px;
}

table th, table td {
  text-align: center;
}

label {
  font-family: "Rubik", sans-serif;
  color: #4D4D4D;
  font-weight: 400;
}

input {
  font-family: "Rubik", sans-serif;
  border: 2px solid #EBEBEB;
  border-radius: 5px;
}

input:focus {
  border: 2px solid #33C3F0;
  border-radius: 5px;
}
</style>
