<template>
  <div class="container">
    <div class="main">
      <div class="row">
        <div class="six columns offset-by-three">
          <label for="movieLink">Link do filmu w serwisie Fili.cc</label>
          <input v-model="movieLink" @keyup.enter="getMovieInfo(movieLink)" class="u-full-width" name="movieLink" type="text" placeholder="Link do filmu">
          <p class="help-text">Przykładowy link: <i>https://fili.cc/film/forrest-gump-1994/63</i></p>
          <button @click="getMovieInfo(movieLink)" class="active-button"  id="get-info-btn">Pobierz</button>
        </div>
      </div>
      <div v-if="movieInfo" class="row">
        <div class="six columns offset-by-three">
          <h3 class="title">{{ movieInfo.title }}</h3>
          <p class="movie-desc">{{ movieInfo.description }}</p>
          <ul class="genres">
            <li v-for="genre in movieInfo.genres">{{ genre }}</li>
          </ul>
          <p class="release-date">{{ movieInfo.release_date }}</p>
        </div>
      </div>
      <div v-if="movieInfo.audio_types" class="row">
        <div class="six columns offset-by-three">
          <div class="audio">
            <p class="audio-type">Wybierz jeden z możliwych typów audio:</p>
            <button @click="getHostFromAudio(audio)" v-for="audio in movieInfo.audio_types" :class="{ 'active-button' : audio == choosenAudio, 'audio-btn' : true }" >{{ audio }}</button>
          </div>
        </div>
      </div>
      <div v-if="movieHostInfo" class="row">
        <div class="six columns offset-by-three">
          <h5>{{ choosenAudio }}</h5>
          <p v-if="choosenAudio == 'NAPISY_PL'" class="warning">
            <span>Uwaga!</span>
            <br />
            Niektóre filmy z napisami mają napisy odtwarzane prez player, a nie "wbudowane" w film! Przed pobraniem filmu radzimy sprawdzić, czy film ma "wbudowane" napisy czy odtwarzane prez player!
          </p>
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Host</th>
                <th>Jakośc</th>
                <th>Pobierz</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="host_info in movieHostInfo" :id="host_info.salt" v-if='host_info.host == "openload" || host_info.host == "vidoza"'>
                <td>{{ host_info.host }}</td>
                <td>{{ host_info.quality }}</td>
                <td><button @click="getDownloadLink(host_info.host, host_info.salt)" class="active-button">Pobierz</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FiliDownload",
  data() {
    return {
      movieLink: "",
      movieInfo: "",
      movieHostInfo: "",
      downloadLink: "",

      choosenAudio: "",

      title: "",
      id: ""
    }
  },
  methods: {
    getMovieInfo: function(movieLink) {
      this.choosenAudio = ""
      this.movieHostInfo = ""
      this.downloadLink = ""
      // remove https and www if movieLink contains it
      if(movieLink.includes("http")) {
        movieLink = movieLink.replace("https://", "")
        if(movieLink.includes("www")) {
          movieLink = movieLink.replace("www.", "")
        }
      }
      if(movieLink.includes("serial")) {
        this.$swal({
          title: "Błąd",
          text: "Podany link odnosi się do srialu. Niestety na chiwlę obecną nasz serwis nie obsługuje pobierania serialów.",
          type: "warning"
        })
        return
      }
      if(!movieLink.includes("fili.cc") || movieLink == "") {
        this.$swal({
          title: "Bład",
          text: "Nie poprawny adres do filmu",
          type: "error"
        })
        return
      }
      document.getElementById("get-info-btn").textContent = "Trwa pobieranie danych o filmie..."

      movieLink = movieLink.replace("fili.cc/film/", "")
      // get title and id
      this.title = movieLink.split("/")[0]
      this.id = movieLink.split("/")[1]

      this.$http.get("http://192.168.1.148:8000/api/fili/movie/detail/" + this.title + "/" + this.id)
        .then((res) => {
          document.getElementById("get-info-btn").textContent = "Pobierz"
          this.movieInfo = res.data
        })
        .catch((err) => {
          document.getElementById("get-info-btn").textContent = "Pobierz"
          this.$swal({
            title: "Błąd",
            text: "Wystąpił błąd podaczas pobierania danych o filmie. Przepraszamy za utrudnienia.",
            type: "error"
          })
        })
    },
    getHostFromAudio: function(audio) {
      var stmt = "http://192.168.1.148:8000/api/fili/movie/hosts/" + this.title + "/" + this.id + "/" + audio
      this.$http.get(stmt)
        .then((res) => {
          this.movieHostInfo = res.body
          this.choosenAudio = audio
        })
        .catch((err) => {
          console.log(err)
        })
    },
    getDownloadLink: function(host, salt) {
      this.$http.get("http://192.168.1.148:8000/api/fili/movie/download/" + host + "/" + salt)
        .then((res) => {
          this.downloadLink = res.body.download_link
          if(host == "vidoza") {
            this.$swal({
              title: "Sukces",
              html:
                `Aby pobrać wybrany przez siebie film wejdź w ten <a href="${res.body.download_link}">link</a>. Następnie w prawym dolnym rogu filmu kliknij symbol <b><i>3 pionowo ustawionych kropek</i></b> i wybierz opcje <i><b>Download</b></i>.`,
              type: "success"
            })
            return
          }
          // if host is openload
          this.$swal({
            title: "Sukces",
            html:
              `Aby pobrać wybrany przez siebie film wejdź w ten <a href="${res.body.download_link}">link</a> i następnie kliknij niebieski przycisk z napisem <b><i>Download</i></b>`,
            type: "success"
          })
        })
        .catch((err) => {
          console.log(err)
          this.$swal({
            title: "Błąd",
            text: "Wystapił błąd podczas generowania linku do pobrania filmu. Przepraszamy za utrudnienia",
            type: "error"
          })
        })
    }
  }
}
</script>

<style scoped>

button {
  font-family: "Roboto Mono", sans-serif;
}

.active-button {
  text-transform: capitalize;
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #fff;
  background-color: #CC2936;
  border-color: #CC2936;
}

.active-button:hover {
  background-color: #B5232F;
  border-color: #B5232F;
}

#get-info-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 29px;
}

#get-info-btn:first-letter {
  text-transform: uppercase;
}

.movie-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.main {
  margin: 0 auto;
}

label {
  font-family: "Rubik", sans-serif;
  color: #4D4D4D;
  font-weight: 400;
}

input {
  font-family: "Rubik", sans-serif;
  border: 2px solid #EBEBEB;
  border-radius: 5px;
}

input:focus {
  border: 2px solid #33C3F0;
  border-radius: 5px;
}

/* MOVIE INFO */
.title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.movie-desc {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.genres {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 15px;
}

.genres li {
  margin-bottom: 0px;
}

.release-date {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.audio {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.audio p {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.audio-btn {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

h5 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 30px;
}

table {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

table button {
  padding: 0 20px;
}

.warning {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.warning span {
  font-size: 28px;
  font-weight: 500;
  color: #ffae42;
}
</style>
