<template>
  <div class="container">
    <div class="main">
      <div class="row">
        <div class="eight columns offset-by-two">
          <h2>Jak to działa ?</h2>
          <p>
          DOWN_loader służy do pobierania filmów z takich serwisów jak <a href="https://cda.pl" target="_blank">cda.pl</a> czy <a href="https://fili.cc" target="_blank">fili.cc</a>. Aby pobrać film z wyżej wymienionego serwisu wybierz odpowieni z poniższej listy, a następnie wklej link wybranego prez siebie filmu.
          <ul>
            <li><router-link to="/fili">Fili.cc</router-link></li>
            <li><router-link to="/cda">Cda.pl</router-link></li>
          </ul>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="eight columns offset-by-two">
          <div class="about-project">
            <h2>O projekcie</h2>
            <p class="about">
              DOWN_loader powstał po to, aby umożliwiać pobieranie filmów z popularnych serwisów internetowych. Jest to mój pierwszy projekt z wykorzystaniem języka Go. Wybrałem ten język, ponieważ chciałem nauczyć się czegoś nowego, spróbować swoich sił w innym języku. Frontend (który nie jest zbyt dobry) wykonałem przy użyciu Vue.js.
              <br /><br>

              Kod źródłowy tego projektu dostępny jest tutaj:
              <ul>
                <li><a href="https://gitlab.com/0x113/movie-downloader" target="_blank">Backend</a></li>
                <li><a href="https://gitlab.com/0x113/movie-downloader-frontend" target="_blank">Frontend</a></li>
              </ul>
              Jeślisz widzisz jakiś błąd lub masz sugestie dotyczące tego projektu, to proszę o kontakt, najlepiej przez <a href="https://forum.pasja-informatyki.pl/user/0x113" target="_blank">forum.pasja-informatyki.pl</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Homepage',
  data() {
    return {
    }
  }
}
</script>

<style scoped>

h2 {
  text-align: center;
  font-family: "Space Mono", monospace;
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 15px;
}

ul {
  margin-top: 25px;
  margin-left: 25px;
}
</style>
