<template>
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one">
        <p class="projects-info">Inne projekty są, ale jeszcze nie gotowe na publiczną prezentację.</p>
        <p class="lenny">( ͡° ͜ʖ ͡ °)</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OtherProjects",
  data() {
    return {
    }
  }
}
</script>

<style scoped>

.projects-info {
  text-align: center;
  font-size: 36px;
  font-family: "Roboto Mono", monospace;
}

.lenny {
  text-align: center;
  font-size: 80px;
}

@media (max-width: 550px) {
  .lenny {
    font-size: 48px;
  }
}
</style>
