<template>
  <div id="app">
    <div class="logo">
      <h2 class="nav_title">DOW<span>N_l</span>oader</h2>
      <nav>
        <a class="burger-nav" id="drawer"></a>
        <ul class="nav">
          <li><router-link to="/">Strona główna</router-link></li>
          <li><router-link to="/fili">Fili.cc</router-link></li>
          <li><router-link to="/cda">CDA.pl</router-link></li>
          <li><router-link to="/projects">Inne projekty</router-link></li>
        </ul>
      </nav>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik:400,500|Quicksand:500|Roboto+Mono:400,500|Spaca+Mono');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swal2-popup {
  font-size: 1.6rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  width: 900px;
}

.swal2-popup .swal2-styled {
  padding: 5px 32px !important;
}

.swal2-popup button{
  text-transform: capitalize;
}

video {
  max-width: 100%;
  max-height: 75%;
}

.swal2-popup iframe {
  width: 800px;
  height: 350px;
}

.logo {
	color: #000;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
  border: 2px solid #EBEBEB;
	padding-bottom: 8px;
  margin-bottom: 35px;
}

.nav_title {
	padding-top: 20px;
	font-family: "Rubik", sans-serif;
	font-size: 42px;
  margin-bottom: 5px;
}

.nav_title span {
  color: #CC2936;
}

.nav {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 50%;
	font-family: 'Rubik', sans-serif;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;
	color: #000;
	text-decoration: none;
	transition: color 0.35s ease;
}

.nav a:hover {
	color: #CC2936 !important;
}

.help-text {
  color: #6c757d;
  font-size: 13px !important;
  font-family: "Rubik", sans-serif;
  margin-top: -10px;
  text-align: left !important;
}

</style>
